<!doctype html>
<html lang="en" data-layout="horizontal" data-topbar="dark" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable" data-bs-theme="light">

<head>
    <partial name="Partials/Layout/_Head" />
</head>

<body>
    <div id="layout-wrapper">
        <partial name="Partials/Layout/_Topbar" />
        <partial name="Partials/Layout/_RemoveNotificationModal" />
        <partial name="Partials/Layout/_Navbar" />
        <div class="vertical-overlay"></div>
        <div class="main-content">
            <div class="page-content">
                @RenderBody()
            </div>
        </div>
    </div>
    <partial name="Partials/Layout/_OffCanvas" />
    <partial name="Partials/Layout/_PreLoader" />
    <partial name="Partials/Layout/_Script" />
    @RenderSection("Scripts", false)
</body>

</html>