<div class="px-4 pt-4 mb-4">
    <div class="d-flex align-items-start">
        <div class="flex-grow-1">
            <h5 class="mb-4">Chats</h5>
        </div>
        <div class="flex-shrink-0">
            <div data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="bottom" aria-label="Add Contact" data-bs-original-title="Add Contact">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-soft-success btn-sm shadow-none">
                    <i class="ri-add-line align-bottom"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="search-box">
        <input type="text" class="form-control bg-light border-light" placeholder="Search here...">
        <i class="ri-search-2-line search-icon"></i>
    </div>
</div>
<!-- .p-4 -->