body, html {
    height: 100%;
}

.vh-100 {
    height: 100vh;
}

#pnlMessageHistory {
    position: relative;
    background: url('/images/background_900.png') no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    overflow-y: auto;
    height: calc(100vh - 140px);
    background-color: rgb(252 249 239 / 80%);
}


#pnlMessageHistory > .msg {
    background-color: rgb(252 249 239 / 80%);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 50vh;
    overflow-y: auto;
}

.chat-message:last-child .chat-message-box {
    margin-bottom: 40vh;
}


#pnlChatInfo {
    background-color: rgb(249 235 189);
}

#pnlMessageSender {
    position: relative;
    box-shadow: 0px 5px 10px 0px rgb(205 108 0 / 50%);
}

ul.contact-list li {
    cursor: pointer;
}

ul.contact-list li:hover, ul.contact-list li.active {
    background-color: rgb(250 159 54 / 20%);
}
