<div class="modal fade" id="chatDetailModal" tabindex="-1" aria-labelledby="chatDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="chatDetailModalLabel">Grup Detay</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6>Üyeler</h6>
                <ul>
                    <li>Ahmet</li>
                    <li>Mehmet</li>
                    <li>Kerem</li>
                </ul>
            </div>
        </div>
    </div>
</div>