@model HomeViewModel

<div class="d-flex flex-column vh-100">
    <header class="w-100 top-bar shadow">
        <div class="row g-0">
            <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                <div class="d-flex justify-content-between top-bar align-items-center px-2 bg-orange text-dark border-end border-warning">
                    <div class="profile-image chat-sender-image-2x bg-secondary text-center" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="~/images/icon_512.png" class="img-fluid w-75" alt="Logo" />
                    </div>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item modal-link" data-bs-toggle="modal" data-bs-target="#profileModal" asp-controller="User" asp-action="MyProfile">Profil</a></li>
                        <li><a class="dropdown-item modal-link" data-bs-toggle="modal" data-bs-target="#newChatModal" asp-controller="Chat" asp-action="Add">Yeni</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" asp-controller="Auth" asp-action="Logout">Çıkış</a></li>
                    </ul>
                    <div class="ms-auto">
                        <div class="profile-image chat-sender-image-2x bg-warning text-center text-secondary" role="button">
                            <i class="fas fa-fw fa-magnifying-glass"></i>
                        </div>
                    </div>
                    <div class="d-none ms-2">
                        <div class="profile-image chat-sender-image-2x bg-warning text-center text-secondary" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-fw fa-ellipsis-v fa-lg"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                @* Fill from api *@
                <div id="pnlChatInfo" class="d-flex justify-content-start align-items-center px-2 top-bar text-dark">
                    <div class="profile-image chat-sender-image-2x bg-warning text-dark" role="button" data-bs-toggle="modal" data-bs-target="#chatDetailModal">S</div>
                    <div class="ms-2">
                        <div class="fw-bold chat-name">Sohbet</div>
                        <div class="text-muted small">Online</div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="w-100 flex-grow-1">
        <div class="row g-0 h-100">
            <aside class="col-6 col-sm-4 col-lg-3 col-xl-2" style="z-index:10;">
                <div id="ContactListContainer" class="d-flex flex-column justify-content-between h-100 border-end border-warning">
                    <ul class="contact-list bg-gradient-orange flex-grow-1 list-unstyled m-0 pt-2">
                        <partial name="_UserChats" model="Model.UserChats" />
                    </ul>
                </div>
            </aside>
            <main class="col">
                <div class="d-flex flex-column justify-content-between h-100">
                    <div id="pnlMessageHistory" class="d-flex justify-content-between flex-grow-1">
                        <div class="msg p-3 w-100 pb-5">
                            <partial name="_ChatMessages" model="Model.ChatMessages" />
                        </div>
                    </div>
                    <div id="pnlMessageSender" class="d-flex justify-content-between p-2 bg-orange border-top border-warning">
                        <textarea id="messageInput" class="form-control no-resize no-focus bg-orange-light" autocomplete="off"></textarea>
                        <button id="btnSendMessage" type="button" class="btn btn-warning px-4 text-secondary no-focus border border-orange ms-2" title="Gönder">
                            <i class="fas fa-fw fa-paper-plane fa-lg"></i>
                        </button>
                    </div>
                </div>

            </main>
        </div>
    </div>
</div>


<partial name="_ChatDetailModal" />
<partial name="_ProfileModal" />
<partial name="_NewChatModal" />




@section Scripts {

    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.9/signalr.min.js"></script>


    <script>

       function getActiveChatId(){
            const activeChat = $('.contact-list li.active');
            const chatId = activeChat.data('chat-id');
           return chatId;
        }

        function loadChatMessages(chatId, chatName) {
            $.get('/Home/GetChatMessages', { chatId: chatId }, (data) => {
                $('#pnlMessageHistory .msg').html(data);
                console.log(data)
                $('#pnlChatInfo .chat-name').text(chatName);
            })
        }

        function loadUserChats() {
            $.get('/Home/GetUserChats', {  }, (data) => {
                $('#ContactListContainer .contact-list').html(data);
            })
        }

        function loadUserProfile(userId) {
            $.get('/Home/GetUserProfile', { userId: userId }, function (data) {
                $('#profileModal .modal-body').html(data);
                $('#profileModal').modal('show');
            });
        }

        function loadChatDetails(chatId) {
            $.get('/Home/GetChatDetails', { chatId: chatId }, function (data) {
                $('#chatDetailModal .modal-body').html(data);
                $('#chatDetailModal').modal('show');
            });
        }


        $(document).ready(function () {
            $('.contact-list li').click(function () {
                $('.contact-list li').removeClass('active');
                $(this).addClass('active');
                var chatId = $(this).data('chat-id');
                var chatName = $(this).data('chat-name');
                console.log(chatName)
                loadChatMessages(chatId, chatName);
                loadUserChats();
            });

            $('#groupDetailModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var chatId = button.data('chat-id');
                loadChatDetails(chatId);
            });

            $('#profileModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var userId = button.data('user-id');
                loadUserProfile(userId);
            });



            var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();

            connection.start().then(function () {
                console.log("SignalR bağlantısı kuruldu")
            }).catch(function (err) {
                return console.error(err.toString());
            });



            connection.on("ReceiveMessage", function (messageJson) {
                var message = JSON.parse(messageJson);
                var activeChatId = getActiveChatId();

                console.log("messaj geldi: " + messageJson);

                if (getActiveChatId() === message.chatId) {
                    appendMessageToChat(message);
                }

                loadUserChats();


            });


            $('#btnSendMessage').click(function () {
                const messageContent = $('#messageInput').val();
                const activeChat = $('.contact-list li.active');
                const chatId = activeChat.data('chat-id');
                const chatName = activeChat.data('chat-name');

                if (chatId) {
                    const message = {
                        chatId: chatId,
                        userId: "@Model.UserId",
                        nickname: "@Model.Nickname",
                        content: messageContent,
                        sentAt: new Date().toISOString()
                    };

                    var messageJson = JSON.stringify(message);

                    connection.invoke("SendMessage", messageJson);


                    $('#messageInput').val('').focus();
                } else {
                    alert("Please select a chat.");
                }
            });

        });



     


        function appendMessageToChat(message) {
            var isCurrentUser = message.userId === "@Model.UserId";
            
            var date = new Date(message.sentAt);
            var dateStr = date.getHours() + ":" + date.getMinutes();

            var messageHtml = isCurrentUser ? `
                                <div class="d-flex justify-content-end chat-message msg-me">
                                    <div class="chat-message-box bg-light border border-warning pt-1 pb-3 px-2 rounded-3 text-dark">
                                        <div class="py-1">${message.content}</div>
                                        <sub class="d-block text-end text-muted">${new Date(message.sentAt).toLocaleString()}</sub>
                                    </div>
                                </div>` : `
                                <div class="d-flex justify-content-start chat-message">
                                    <div class="profile-image chat-sender-image-1x profile-image bg-warning text-dark me-3">${message.nickname.substring(0, 2).toUpperCase()}</div>
                                    <div class="chat-message-box bg-light border border-warning py-3 px-2 rounded-3 text-dark">
                                        <sup class="d-block text-muted">${message.nickname}</sup>
                                        <div class="py-1">${message.content}</div>
                                        <sub class="d-block text-end text-muted">${new Date(message.sentAt).toLocaleString()}</sub>
                                    </div>
                                </div>`;
            $('#pnlMessageHistory .msg').append(messageHtml);
        }










    </script>
}

@section Styles {
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
}