@using System.Security.Claims
@model WebMVC.Models.UserChatsViewModel
@{
    ViewData["Title"] = "Chat";
    var hasSelectedChat = Model?.GetChatMessagesResponse?.ChatInfo?.ChatId != Guid.Empty;
    var chatInfo = Model?.GetChatMessagesResponse?.ChatInfo;
    var selectedChatId = Model?.GetChatMessagesResponse?.ChatInfo?.ChatId ?? Guid.Empty;
    ViewBag.SelectedChatId = selectedChatId;
    ViewBag.CurrentUserId = User?.FindFirst(ClaimTypes.NameIdentifier)?.Value ?? "";
    ViewBag.IsGroup = Model?.GetChatMessagesResponse?.ChatInfo.IsGroup ?? false;
}

<div class="container-fluid">
    <div class="chat-wrapper d-lg-flex gap-1 mx-n4 mt-n4 p-1">
        <div class="chat-leftsidebar">
            <partial name="Partials/_ChatSidebar" model="Model?.GetUserChatsResponse"/>
        </div>

        <div class="user-chat w-100 overflow-hidden">
            <div class="chat-content d-lg-flex">
                <div class="w-100 overflow-hidden position-relative">
                    <div class="position-relative" id="users-chat">
                        @if (hasSelectedChat)
                        {
                            <partial name="Partials/_ChatTopbar" model="chatInfo" />

                            <div 
                                class="chat-conversation p-3 p-lg-4" 
                                id="users-chat-conversation" 
                                data-simplebar
                                data-selected-chat-id="@selectedChatId"
                                data-current-user-id="@ViewBag.CurrentUserId"
                                data-is-group="@ViewBag.IsGroup">
                                <partial name="Partials/_ChatConversationList"
                                         model="Model?.GetChatMessagesResponse?.Messages?? new List<Application.Features.Messages.Queries.GetChatMessages.MessageDto>()" />
                        </div>

                            <partial name="Partials/_ChatInput" model="chatInfo" />
                                                }
                        else
                        {
                            <div class="p-5 text-center text-muted">Bir sohbet seçin.</div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <script src="~/js/chat-ui.js" asp-append-version="true"></script>
    <script src="~/js/chat.js" asp-append-version="true"></script>
    <script src="~/js/chat-signalR.js" asp-append-version="true"></script>
}
